# 管理員設定
ADMIN_PASSWORD=請在此輸入管理員密碼 (例如: 12345678)
SESSION_SECRET=請在此輸入一串隨機亂碼 (例如: 隨機打一堆英數字)

# 投票選項：紅方
VOTE_OPTION_RED_TITLE="選項一的主標題"
VOTE_OPTION_RED_SUBTITLE="選項一的副標題 (選填)"

# 投票選項：綠方
VOTE_OPTION_GREEN_TITLE="選項二的主標題"
VOTE_OPTION_GREEN_SUBTITLE="選項二的副標題 (選填)"
